
<header id="header">
    <form id="form-search" method="get" novalidate asp-action="" asp-controller="">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" name="search" placeholder="Search..." class="form-search-input"/>
    </form>
    @await Html.PartialAsync("Dropdowns/_NotificationsDropdownPartial")
    @await Html.PartialAsync("Dropdowns/_AccountDropdownPartial")
</header>