<aside id="sidebar">
    <section class="logotype">
        <a href="#">
            <img src="images/alpha_logo.svg" alt="logo" />
            <span class="logotype-span">alpha</span>
        </a>
    </section>
    <nav class="nav-links">
        <a href="projects.html" class="nav-link active">
            <i class="fa-duotone fa-solid fa-briefcase"></i>
            <span>Projects</span>
        </a>
                
        <a href="" class="nav-link">
            <i class="fa-duotone fa-solid fa-handshake"></i>
            <span>Clients</span>
        </a>
        <a href="" class="nav-link">
            <i class="fa-duotone fa-solid fa-user-group"></i>
            <span>Members</span>
        </a>
    </nav>
</aside>